
ClientManagerApi/\.vs/

ClientManagerApi/ClientManagerApi/bin/

ClientManagerApi/ClientManagerApi/obj/

SampleApp/\.vs/

SampleApp/SampleApp/SampleApp/bin/

SampleApp/SampleApp/SampleApp/obj/

SampleApp/SampleApp/SampleApp\.Android/bin/

SampleApp/SampleApp/SampleApp\.Android/obj/

SampleApp/SampleApp/SampleApp\.iOS/obj/

SampleApp/SampleApp/SampleApp\.UWP/obj/

ClientManagerApp/ClientManagerApp/bin/

ClientManagerApp/ClientManagerApp/obj/

ClientManagerApp/ClientManagerApp\.Android/bin/

ClientManagerApp/ClientManagerApp\.Android/obj/

ClientManagerApp/ClientManagerApp\.UWP/obj/

ClientManagerApp/ClientManagerApp\.iOS/obj/
